.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  box-shadow: 4px 3px 5px rgb(51, 50, 50);
  background-color: #363c48;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links li {
  padding: 10px;
}

.logo a {
  color: #000;
  font-size: 27px;
  text-decoration: none;
}
